@using WebApplication3.Models.ViewModels;
@model TimeLineViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
  ViewBag.WorkTypes
  ViewBag.SortCoal
  ViewBag.AddWork
  ViewBag.MachName
  ViewBag.Work
*@
@{
}

<div>
  <h6>@Model.MachineName</h6>
  <p>добавление работы</p>
</div>

<div>
  <form method="post">
    <input hidden value="@Model.Work?.Id" name="workId" />
    <input hidden value="@Model.Order?.Id" name="OrderId" />

    <table>
      <tr>
        <td>
          <label for="starttime">Начало</label> <br />
          <input type="time" name="starttime" id="starttime" required value="@Model?.Work?.StartTime.ToString("HH:mm")"
                 min="@Model.Hours[0]" max="@Model.Hours[12]" />
        </td>
        <td>
          <label for="endtime">Окончание</label> <br />
          <input type="time" name="endtime" id="endtime" required value="@Model?.Work?.EndTime.ToString("HH:mm")"
                 min="@Model.Hours[0]" max="@Model.Hours[12]" />
        </td>
      </tr>
    </table>



    <div>
      <label for="typework">Тип работы</label> <br />
      <select name="typeworkId" id="typework" required>
        <option selected disabled></option>
        @foreach (var t in Model.WorkTypes) {
          <option value="@t.Id" selected="@(Model?.Work?.Type?.Id == t.Id)">@t.Name</option>
        }
      </select>
    </div>

    <div>
      <label for="note">Описание</label> <br />
      <input type="text" name="note" id="note" value="@Model.Work?.Note" />
    </div>

    <div @if (!Model.Work.Type.NeedsFields.Contains("sort")) { @: hidden
         }>
      <label for="sort">Сорт</label> <br />
      <select name="sortId" id="sort" @if (Model.Work.Type.NeedsFields.Contains("sort")) { @: required
              }>
        <option selected disabled></option>
        @foreach (var s in Model.CoalSorts) {
          <option value="@s.Id" selected="@(Model.Work?.Sort?.Id == s.Id)">@s.Name</option>
        }
      </select>
    </div>

    <div @if (!Model.Work.Type.NeedsFields.Contains("volume")) { @: hidden
         }>
      <label for="volume">Объём</label> <br />
      <input type="number" step="0.01" name="volume" id="volume" value="@Model.Work?.Volume.ToString().Replace(',','.')" />
    </div>

    <div @if (!Model.Work.Type.NeedsFields.Contains("weight")) { @: hidden
         }>
      <label for="weight">Вес</label> <br />
      <input type="number" step="0.01" name="weight" id="weight" value="@Model.Work?.Weight.ToString().Replace(',','.')" />
    </div>
    <div @if (!Model.Work.Type.NeedsFields.Contains("ash")) { @: hidden
         }>
      <label for="ash">Зола</label> <br />
      <input type="number" step="0.01" name="ash" id="ash" value="@Model.Work?.Ash.ToString().Replace(',','.')" />
    </div>
    <div @if (!Model.Work.Type.NeedsFields.Contains("heat")) { @: hidden
         }>
      <label for="heat">Теплота</label> <br />
      <input type="number" step="0.01" name="heat" id="heat" value="@Model.Work?.Heat.ToString().Replace(',','.')" />
    </div>
    <div @if (!Model.Work.Type.NeedsFields.Contains("wet")) { @: hidden
         }>
      <label for="wet">Влага</label> <br />
      <input type="number" step="0.01" name="wet" id="wet" value="@Model.Work?.Wet.ToString().Replace(',','.')" />
    </div>
    <div @if (!Model.Work.Type.NeedsFields.Contains("wagons")) { @: hidden
         }>
      <label for="wagons">Число вагонов</label> <br />
      <input type="number" name="wagons" id="wagons" value="@Model.Work?.Wagons" />
    </div>

    <div>

      <table>
        <tr>
          <td>
            <input class="button button-simple" type="submit" value="Сохранить"
                   @if (String.IsNullOrEmpty(Model.MachineName)) { @: disabled
                   } />
          </td>
          <td>
            <a class="button button-simple"
               @if (Model?.Work == null) { @: hidden
               }
               href="/timeline/delete?orderId=@Model?.Order.Id&workId=@Model?.Work?.Id">Удалить</a>
          </td>
        </tr>
      </table>
    </div>

  </form>
</div>

