<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<body>
    <div id="wrapper"  class="border-radius">
      <header>
        <nav id="nav">
          <ul id="menu">
            <li><a class="navbutton @IsActrive("/Timeline")" href="~/Timeline">Временная шкала</a></li>
            <li><a class="navbutton @IsActrive("/Order")" href="~/Order">Наряд</a></li>
            <li><a class="navbutton @IsActrive("/Machineries")" href="~/Machineries">Техника</a></li>
            <li><a class="navbutton @IsActrive("/MachineryTypes")" href="~/MachineryTypes">Типы техники</a></li>
            <li><a class="navbutton @IsActrive("/Staff")" href="~/Staff">Сотрудники</a></li>
            <li><a class="navbutton @IsActrive("/Positions")" href="~/Positions">Должности</a></li>
          </ul>
        </nav>
      </header>
        <div id="container">
            <main id="main">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - WebApplication3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
</body>
</html>
@functions{

    string IsActrive(string path) {
      if (Context.Request.Path.ToString().ToUpper().Contains(path.ToUpper()))
        return "current-position";
      return "";
    }
}