@using WebApplication3.Models.ViewModels;
@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
  Model Order
*@
@{
}
<div class="order-main-settings">
  <form>
    <div class="order-date-choice">
      <div>

        <input type="date" name="Date" value="@Model.Order?.Date.ToString("yyyy-MM-dd")" required />
        <button type="submit" formmethod="get" class="button button-simple"><img class="icon" src="~/source/Image/find.png" alt="find" /></button>

        <a href="@GetPrevios()" class="button button-simple"><img class="icon" src="~/source/Image/left.png" alt="<" /></a>
        <a href="@GetNext()" class="button button-simple"><img class="icon" src="~/source/Image/right.png" alt=">" /></a>
      </div>
    </div>

    <div class="order-shift-choice">
      <ul class="inline-ul">

        <li>
          <input type="radio" value="1" name="ShiftId" checked="@(Model.Order.Shift==1)" id="shift1" />
          <label for="shift1">
            <a class="button button-simple"
               href="@CheckModel()OrderAreaId=@Model?.Order?.Area.Id&ShiftId=1&Date=@Model?.Order?.Date.ToString("yyyy-MM-dd")">
              Смена 1
            </a>
          </label>

        </li>

        <li>
          <input type="radio" value="2" name="ShiftId" checked="@(Model.Order.Shift==2)" id="shift2" />
          <label for="shift2">
            <a class="button button-simple"
               href="@CheckModel()OrderAreaId=@Model?.Order?.Area.Id&ShiftId=2&Date=@Model?.Order?.Date.ToString("yyyy-MM-dd")">
              Смена 2
            </a>
          </label>
        </li>
      </ul>
    </div>

    <div class="order-area-choice">
      <ul class="inline-ul">
        @foreach (var area in Model.Areas) {
          <li>
            <input type="radio" value="@area.Id" name="OrderAreaId" checked="@(Model?.Order?.Area.Id==area.Id)" id="area+@area.Id" />
            <label class="" for="area+@area.Id">
              <a class="button button-simple"
                 href="@CheckModel()OrderAreaId=@area.Id&ShiftId=@(Model?.Order?.Shift)&Date=@Model?.Order?.Date.ToString("yyyy-MM-dd")">
                @area.Name
              </a>
            </label>
          </li>
        }
      </ul>
    </div>
  </form>
</div>

@functions {

  string CheckModel() {
    string m = "";
    if (Model.Order.Area != null)
      if (Model is OrderIndexViewModel) {
        m = "/order?";
      } else if (Model is TimeLineViewModel) {
        m = "/Timeline?";
      }
    return m;
  }

  string GetNext() {
    string next = CheckModel();
    if (Model.Order.Area != null)
      if (Model.Order.Shift == 1) {
        next += $"OrderAreaId={Model?.Order?.Area.Id}&ShiftId={2}&Date={Model?.Order?.Date.ToString("yyyy-MM-dd")}";
      } else if (Model.Order.Shift == 2) {
        next += $"OrderAreaId={Model?.Order?.Area.Id}&ShiftId={1}&Date={Model?.Order?.Date.AddDays(1).ToString("yyyy-MM-dd")}";
      }
    return next;
  }

  string GetPrevios() {
    string previos = CheckModel();
    if (Model.Order.Area != null)
      if (Model.Order.Shift == 1) {
        previos += $"OrderAreaId={Model?.Order?.Area.Id}&ShiftId={2}&Date={Model?.Order?.Date.AddDays(-1).ToString("yyyy-MM-dd")}";
      } else if (Model.Order.Shift == 2) {
        previos += $"OrderAreaId={Model?.Order?.Area.Id}&ShiftId={1}&Date={Model?.Order?.Date.ToString("yyyy-MM-dd")}";
      }
    return previos;
  }
}