@using WebApplication3.Models.ViewModels;
@model TimeLineViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
  ViewBag.Hours

*@
@{

}
<div>
  <table class="timeline-table">

    <thead class="timeline-headtable">
      <tr>
        <td></td>
        @for (int i = 0; i < 12; i++) {
          <td class="timeline-cells">
            <span class="timeline-hourmark">
              @Model.Hours[i]
            </span>
          </td>
          @for (int j = 0; j < 5; j++) {
            <td class=""></td>
          }
        }
      </tr>
    </thead>

    <tbody class="timeline-content-table">
      @foreach (var m in Model?.Order?.Machineries?.Where(x => !x.IsDelete)) {
        <tr>
          <td class="active-cell">
            <a href="~/timeline?OrderId=@Model?.Order.Id&MoSId=@m?.Id">
              @m?.Name
            </a>
          </td>
          <td class="timeline-cells">
            @foreach (var w in m?.Works?.Where(x => !x.IsDelete)) {
              <div class="work-for-timeline @w.Type.Figure.Name"
                   style="background-color: @w.Type.BackgroundColor; color: @w.Type.TextColor; border-color: @w.Type.TextColor;
                 width: @(w.TotalMinutes * 2)px; position:relative; left: @(w.StartPosition * 2 - 2)px;">

                <a href="~/timeline?OrderId=@Model?.Order.Id&MoSId=@m?.Id&workId=@w.Id" class="button-fill">
                  @{var lines = w.Type.Name.Split(" ").ToList();
                    string txt = "";
                    foreach (var line in lines) {
                      int length = line.Count() > 4 ? 4 : line.Count();
                      txt += line.Substring(0, length) + " ";
                    }
                    txt.Trim();
                  }
                  @txt
                </a>
              </div>
            }

          </td>
          @for (int i = 1; i < 72; i++) {
            <td class="timeline-cells active-cell">
              <a class="time-mark" href="~/timeline?OrderId=@Model?.Order.Id&MoSId=@m?.Id&StartTime=@(Model?.TimeIntervals[i])"></a>
            </td>
          }
        </tr>
      }
    </tbody>

  </table>




  @functions{

  }

</div>