@using WebApplication3.Models.ViewModels
@model MachineriesViewModel
@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="machinery-page">
  <div class="main-table">
    <table class="machinery-table">
      <tr class="table-header">
        <td><h6>Id</h6></td>
        <td><h6>Название</h6></td>
        <td><h6>Тип</h6></td>
        <td><h6>Участок</h6></td>
        <td><h6>Удалить</h6></td>
      </tr>
      @foreach (var m in Model.Machineries) {
        <tr>
          <td><p><a href="~/Machinery?id=@m.Id"> @m.Id </a></p></td>
          <td><p><a href="~/Machinery?id=@m.Id"> @m.Name </a></p></td>
          <td><p><a href="~/Machinery?id=@m.Id"> @m?.Type?.Name </a></p></td>
          <td><p><a href="~/Machinery?id=@m.Id"> @m?.Type.GetAreasNames() </a></p></td>
          <td class="active-cell">
            <p>
              <a href="~/Machinery/delete?delId=@m.Id">
                <img class="icon" src="~/source/Image/delete.png" alt="delete" />
              </a>
            </p>
          </td>
        </tr>

      }


    </table>
  </div>



  <div class="adding-panel">
    <h3>@Model.Title</h3>
    <form method="post" action="~/Machinery">
      <input hidden name="id" value="@Model.Machine.Id" />
      <div>
        <div><label for="name">Название техники</label></div>
        <div>
          <input type="text" id="name" name="name" value="@Model.Machine?.Name" required /><div>
          </div>
          <div><label for="typeid">Тип техники</label></div>
          <div>
            <select name="typeid" id="typeid" required>
              <option selected disabled></option>
              @foreach (var t in Model?.Types) {
                <option value="@t.Id" selected="@(Model?.Machine?.Type?.Id==t.Id)">@t.Name</option>
              }
            </select>
          </div>
          <div>
            <input class="button button-simple" type="submit" value="Сохранить" />
            <a class="button button-simple" href="/Machinery">Сбросить</a>
          </div>
    </form>
    <p class="hint">@Model.Message</p>


  </div>
</div>