@using WebApplication3.Models.ViewModels
@model MachineriesViewModel
@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Machineries";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="attention">
  <h5>Чтобы изменить тип оборудования, неоходимо устранить конфликты.</h5>
  <p>
    Обнаружены наряды, в которых это оборудование применялось под другим типом! <br />
    <span>Для заменённого оборудования все параметры будут скопированы из изменяемого.</span>
  </p>


  <p><b>@Model.Machine.Name</b> : <b>@Model.Machine.Type.Name </b>==> <b>@Model.NewType.Name</b></p>
</div>
<form method="post" action="~/Machineries/SolveConflict">
  <input type="hidden" name="TypeId" value="@Model.NewType.Id"/>
  <input type="hidden" name="Id" value="@Model.Id"/>
  <input type="hidden" name="Name" value="@Model.Name"/>
  <div>
    <button type="submit" class="button-simple button" formmethod="get">Подтвердить</button>
    <a class="button-simple button" href="~/Machineries">Отменить</a>
  </div>

  <table class="machinery-table">
    <tr class="table-header">
      <td><h6>Дата</h6></td>
      <td><h6>Смена</h6></td>
      <td><h6>Участок</h6></td>
      <td><h6>Тип работы</h6></td>
      <td><h6>Описание</h6></td>
      <td><h6>Время начала</h6></td>
      <td><h6>Время окончания</h6></td>

      <td><h6>Оборудование</h6></td>
    </tr>
    @{
        int i = 0;

        foreach (var conflict in Model.ConflictOrders) {

          foreach (var m in conflict.OrderVM.Machineries.Where(x => x.MachineryId == Model.Machine.Id)) {
            foreach (var w in m.Works) {
            <tr>
              <td><p>@conflict.OrderVM.Date.ToString("dd.MM.yyyy")</p></td>
              <td><p>@conflict.OrderVM.Shift</p></td>
              <td><p>@conflict.OrderVM.Area.Name</p></td>
              <td><p>@w.Type.Name</p></td>
              <td><p>@w.Note</p></td>
              <td><p>@w.StartTime</p></td>
              <td><p>@w.EndTime</p></td>
              <td>
                <p>
                  <input type="hidden" value="@m.Id" name="[@i].MoSId" />
                  <input type="hidden" value="@conflict.OrderVM.Id" name="[@i].OrderId" />
                  <input type="hidden" value="@w.Id" name="[@i].WorkId" />
                  <select name="[@(i++)].MachineId" required>
                    <option selected disabled>@m.Name</option>
                    @foreach (var n in conflict.FreeMachineries) {
                      <option value="@n.Id">@n.Name</option>
                    }
                  </select>
                </p>
              </td>
            </tr>
          }
        }
      }
    }

  </table>
</form>



