@using WebApplication3.Models.ViewModels.Machineries
@model MachinariesTypeViewModel
@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

  ViewData["Title"] = "MachineryTypes";
  Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="strong-center-page">
  <div class="main-table">
    <table class="machinery-table">
      <tr class="table-header">
        <td><h6>Id</h6></td>
        <td><h6>Тип</h6></td>
        <td><h6>Участок</h6></td>
        <td><h6>Удалить</h6></td>
      </tr>
      @foreach (var m in Model.Types) {
        <tr>
          <td><p><a href="~/MachineryTypes?id=@m.Id"> @m.Id </a></p></td>
          <td><p><a href="~/MachineryTypes?id=@m.Id"> @m.Name </a></p></td>
          <td><p><a href="~/MachineryTypes?id=@m.Id"> @m?.GetAreasNames() </a></p></td>
          <td class="active-cell">
            <p>
              <a href="~/MachineryTypes/delete?delId=@m.Id">
                <img class="icon" src="~/source/Image/delete.png" alt="delete" />
              </a>
            </p>
          </td>
        </tr>

      }


    </table>
  </div>



  <div class="adding-panel">
    <h3>
      @{ if (Model.Id == 0) {
          @: Добавление
        } else {
          @:Редактирование
        }
      }
    </h3>
    <form method="post" asp-action="Index" asp-controller="MachineryTypes">
      <input hidden asp-for="Id" />
      <div class="form-div">
        <div><label asp-for="Name">Тип</label></div>
        <div>
          <input asp-for="Name" class="width15" /><br />
          <span asp-validation-for="Name" class="error"></span>

        </div>
      </div>
      <div class="form-div">
        <div><label asp-for="AreasId">Участок</label></div>
        <div>
          <select Name="AreasId" Id="AreasId" class="width15">
            <option selected disabled></option>
            @foreach (var area in Model?.Areas) {
              <option value="@area.Id" selected="@(Model.AreasId.Any(x => x == area.Id))">
                @area.Name
              </option>
            }
          </select> <br />
          <span asp-validation-for="AreasId" class="error"></span>
        </div>
      </div>
      <div class="form-div">
        <input class="button button-simple width7i2" type="submit" value="Сохранить" />
        <a class="button button-simple width7i2" href="~/MachineryTypes">Сбросить</a>
      </div>
    </form>
    <p class="hint">@Model.Message</p>


  </div>
</div>