@using WebApplication3.Models.ViewModels
@model MachinariesTypeViewModel
@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "MachineryTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="machinery-page">
  <div class="main-table">
    <table class="machinery-table">
      <tr class="table-header">
        <td><h6>Id</h6></td>
        <td><h6>Тип</h6></td>
        <td><h6>Участок</h6></td>
        <td><h6>Удалить</h6></td>
      </tr>
      @foreach (var m in Model.Types) {
        <tr>
          <td><p><a href="~/MachineryTypes?id=@m.Id"> @m.Id </a></p></td>
          <td><p><a href="~/MachineryTypes?id=@m.Id"> @m.Name </a></p></td>
          <td><p><a href="~/MachineryTypes?id=@m.Id"> @m?.GetAreasNames() </a></p></td>
          <td class="active-cell">
            <p>
              <a href="~/MachineryTypes/delete?delId=@m.Id">
                <img class="icon" src="~/source/Image/delete.png" alt="delete" />
              </a>
            </p>
          </td>
        </tr>

      }


    </table>
  </div>



  <div class="adding-panel">
    <h3>@Model.Title</h3>
    <form method="post" action="~/MachineryTypes">
      <input hidden name="id" value="@Model?.Type?.Id" />
      <div>
        <div><label for="name">Тип</label></div>
        <div>
          <input type="text" id="name" name="name" value="@Model.Type?.Name" required class="width15"/><div>
          </div>
          <div><label for="areasid">Участок</label></div>
          <div>
            <select name="areasid" id="areasid" required class="width15">
              <option selected disabled></option>
              @foreach (var area in Model?.Areas) {
                <option value="@area.Id" selected="@(Model?.Type?.Areas?.Any(x => x.Id==area.Id))">@area.Name</option>
              }
            </select>
          </div>
          <div>
            <input class="button button-simple" type="submit" value="Сохранить" />
            <a class="button button-simple" href="~/MachineryTypes">Сбросить</a>
          </div>
    </form>
    <p class="hint">@Model.Message</p>


  </div>
</div>