@using WebApplication3.Models.ViewModels;

@model OrderIndexViewModel

@{

  ViewData["Title"] = "Order";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main">
  <div class="order-main-settings">

    @await Html.PartialAsync("_OrderShift")
  </div>
  <div class="order-staff-settings">
    <form id="order-settings-form" method="post">
      <input type="hidden" name="IsClose" value="false" />
      <input type="hidden" name="OrderId" value="@Model.Order.Id" />
      <ul class="inline-ul">
        <li>
          <div>Диспетчер</div>
          <div>
            <select disabled="@Model.Order.IsClose" name="DispetcherId" required>
              @if (Model.Order.Dispetcher.Id == 0) {
                <option selected disabled></option>
              }
              @foreach (var disp in Model.Dispetchers) {
                <option value="@disp.Id" selected="@(disp.Id==Model.Order?.Dispetcher?.Id)">@disp.GetFIO()</option>
              }
            </select>
          </div>
        </li>

        <li class="inline-ul">
          <div>Начальник  смены</div>
        
            <div>
              <select disabled="@Model.Order.IsClose" name="ChiefId" required>
                @if (Model.Order.Chief.Id == 0) {
                  <option selected disabled></option>
                }
                @foreach (var chief in Model.Chiefs) {
                  <option value="@chief.Id" selected="@(chief.Id==Model.Order?.Chief?.Id)">@chief.GetFIO()</option>
                }
              </select>
            </div>
        </li>

        <li class="inline-ul">
          <div>Горный мастер</div>
          <div>
            <select disabled="@Model.Order.IsClose" name="MastersId" multiple required>
              @foreach (var master in Model.MiningMasters) {
                <option value="@master.Id" selected="@(Model.Order?.MiningMaster?.Any(x => x.Id == master.Id))">@master.GetFIO()</option>
              }
            </select>
          </div>
          <p class="hint">CTRL + ЛКМ чтобы выбрать несколько</p>
        </li>
      </ul>
      <div id="save-panel">
        <button type="submit" action="~/Order/post" class="button button-simple">Сохранить</button>
      </div>



    </form>
  </div>
</div>






<hr />
<div class="buttons-bar">
  <form action="/Order/AddMachineToOrder" method="get" style="display: inline-block">
    <input type="hidden" name="OrderId" value="@Model.Order.Id" @if (Model.Order.Id == 0) { @: disabled
           } />
    <select name="MachineId" required>
      <option selected disabled></option>
      @foreach (var m in Model?.Machines) {
        <option value="@m.Id">@m.Name</option>
      }
    </select>

    <button type="submit" class="button button-simple" @if (Model.Order.Id == 0) { @: disabled
            }>
      Добавить оборудование
    </button>
  </form>
  <form style="display: inline-block">
    <input type="hidden" name="allPZO" value="true" />
    <input type="submit" value="ПЗО всем" class="button button-simple" />
  </form>
</div>
<hr />
<div class="machinery-table table">

  <table id="machinery-table">

    <tr class="table-header">
      <td><a></a><h6>Группа</h6></td>
      <td><h6>№ п/п</h6></td>
      <td><h6>Экскаватор</h6></td>
      <td><h6>Пикет</h6></td>
      <td><h6>Крыло</h6></td>
      <td><h6>Участок</h6></td>
      <td><h6>Пласт</h6></td>
      <td><h6>Горизонт</h6></td>
      <td><h6>Вес</h6></td>
      <td><h6>Объём</h6></td>
      <td><h6>Переэкс.</h6></td>
      <td><h6>Зола</h6></td>
      <td><h6>Теплота</h6></td>
      <td><h6>Влага</h6></td>
      <td><h6>Перегон</h6></td>
      <td><h6>Ремонт</h6></td>
      <td><h6>Выходные</h6></td>
      <td><h6>ПЗО</h6></td>
      <td><h6>Удалить</h6></td>

    </tr>
    @foreach (var m in Model.Order?.Machineries?.Where(x => !x.IsDelete)) {

      <tr class="table-content">
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Group.Number</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Number</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Name</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Picket</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Area.Name</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Field.Name</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Plast.Name</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Horizon.Name</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Weight</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Volume</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Overexcavation</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Ash</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Heat</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.Wet</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.TransportingTime</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.RepairingTime</a></td>
        <td><a href="/Order/AddMachineToOrder?mosId=@m.Id&OrderId=@Model.Order.Id">@m.HolidayTime</a></td>
        <td><p><input type="checkbox" disabled checked="@m.PZO" /></p></td>
        <td class="active-cell delete-cell"><p><a href="/Order/Delete?mosId=@m.Id&OrderId=@Model.Order.Id"><img class="icon" src="~/source/Image/delete.png" alt="delete" /></a></p></td>
      </tr>


    }
  </table>
</div>
