
@{
    
    ViewData["Title"] = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="staff-table">
    <div class="submenu">
        <a href="staff/add?0" class="button-on-table">Добавить</a>
    </div>
    <div class="find">
        <form class="find-form" method="get">
            <input type="search" name="find" class="find-input" placeholder="Введите строку для поиска" maxlength="50" />
            <input type="submit" class="button-on-table" value="Найти"/>
        </form>
    </div>
    <table class="machinery-table">
        <tr class="table-header">
            <td><h6>Id</h6></td>
            <td><h6>Фамилия</h6></td>
            <td><h6>Имя</h6></td>
            <td><h6>Отчество</h6></td>
            <td><h6>Табельный номер</h6></td>
            <td><h6>Должность</h6></td>
            <td colspan="2"></td>
        </tr>
        @foreach (var emp in ViewBag.Employees) {
            <tr class="table-content">
                <td><p>@emp.Id</p></td>
                <td><p>@emp.Lastname</p></td>
                <td><p>@emp.Name</p></td>
                <td><p>@emp.Fathername</p></td>
                <td><p>@emp.TableNumber</p></td>
                <td><p>@if(emp.Position !=null)
                    @emp.Position.Subname
                    </p>
                </td>
                <td><a href="~/staff/add?id=@emp.Id" class="button-on-table">Изменить</a></td>
                <td><a href="~/staff/delete?id=@emp.Id" class="button-on-table">Удалить</a></td>
            </tr>
        }
    </table>
</div>